<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <objectWrapperFactory type="com.shi.orm.stereotype.batis.plugin.MapWrapperFactory"/>
    <plugins>
        <plugin interceptor="com.shi.orm.stereotype.batis.ResultTypeInterceptor"/>
    </plugins>



</configuration>